<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hometask - 14</h1>
<h3>List of endpoints</h3>
<h4>Get all stories from category</h4>
<ul>
    <li><a href="fierce-oasis-25574.herokuapp.com/askstories/">http://fierce-oasis-25574.herokuapp.com/askstories/</a> </li>
    <li><a href="fierce-oasis-25574.herokuapp.com/jobstories/">http://fierce-oasis-25574.herokuapp.com/jobstories/</a> </li>
    <li><a href="fierce-oasis-25574.herokuapp.com/showstories/">http://fierce-oasis-25574.herokuapp.com/showstories/</a> </li>
    <li><a href="fierce-oasis-25574.herokuapp.com/newstories/">http://fierce-oasis-25574.herokuapp.com/newstories/</a> </li>
</ul>

<h4>Get detailed info about story</h4>
<ul>
    <li>Use endpoint in format http://fierce-oasis-25574.herokuapp.com/category_name/story_id (f.e. http://127.0.0.1:8000/askstories/5/)</li>
</ul>

<h4>Get new stories through API and send results to email</h4>
<ul>
    <li><a href="http://fierce-oasis-25574.herokuapp.com/execute/">http://fierce-oasis-25574.herokuapp.com/execute/</a> </li>
</ul>

</body>
</html>